* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: rgba(9, 9, 9, 0.738);
}

body {
    margin: 0px;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.none {
    display: none;
}

nav {
    width: 100%;
    justify-content: center;
    font-size: 20px;
    /* background-color: lightgray; */
    /* border-bottom: 4px solid rgba(0, 0, 0, 0.3); */
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.43) ;
}

nav a {
    font-size: 20px;
}

.link {
    justify-content: center;
    /* flex-grow: 1; */
    padding: 20px;
    cursor: pointer;
}

.link:hover {
background-color: rgb(235, 235, 235);
}

header {

    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: rgb(105, 105, 105);
}

h2 {
    padding-top: 50px;
    padding-bottom: 15px;
    padding-left: 70px;
}

.container {
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

.columnTitleCont {
    display: flex;
    padding: 20px 20px 0px 20px;
}

.columnTitleCont h3:first-child {
    width: 60px;
}

.container2 {
    display: flex;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.43) ;
    border-top: 1px solid rgba(238, 238, 238, 0.368);
    /* border-bottom: 4px solid rgba(0, 0, 0, 0.3); */
    max-width: 500px;
}

.postId {
    height: 50px;
}

.postTitle {
    display: block;
    height:50px
}

.smallPicContainer {
    width: 80px;
    height: 80px;
}

.smallPicContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}


h3 {
    width: 150px
}

.idContainer, .picContainer, .titleContainer, .statusContainer, .totalContainer, .createdContainer, .completedContainer,.custContainer{
    width: 150px;
    display: flex;
    align-items: flex-start;
}



.customerId, .custContainer {
    width: 70px;
}


.idContainer {
    width: 60px;
}

p, a {
    margin: 0px;
    font-size: 12px;
}

.infoButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 80px;
    height:30px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(139, 139, 139);
}

.linkButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 120px;
    height:35px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(139, 139, 139);
}



.infoButton:hover, .linkButton:hover {
    background-color: rgb(152, 216, 194);
}

.container3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: absolute;

    /* right: 180px;
    left: 180px; */
    width: auto;
    height: auto;
    padding: 40px;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.619);
    text-align: center;
    right: 435px;
    bottom:10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(139, 139, 139);
}

.container3 h3 {
    width: auto;
}

.container3 p {
    font-size: 15px;
}

.container3 p:last-child {
    margin-bottom: 20px;
}

.orderStatus {
padding: 5px;
border-radius: 2px;
}

.none {
    display: none;
}

.reload {
    position: fixed;
    right: 0px;
   
}

.reload:active {
    background-color: rgba(114, 240, 114, 0.727);
}

.backButton {
    margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}